doctype html
html(lang="es")
    head
        title TestNodeJSMongoDB
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet")
    body
        block contenido