extends ./layout.jade
block contenido    
    form(action="/save" method="POST")
        div(class="form-group")
            label(for="username") Username
            input(type="text", name="username",placeholder="Username",id="username",class="form-control")
        div
            label(for="password") Password
            input(type="password", name="password", placeholder="Password",id="password",class="form-control")
        div
            input(type="submit", value="Iniciar sesion", class="btn btn-info")